main section {
  flex-basis: 100%;
}
main section a {
  text-decoration: underline;
  color: #0e7490;
}

@media screen and (min-width: 768px) {
  main section {
    flex-basis: 40%;
  }
  main section img {
    max-width: 100%;
  }
  main section:nth-child(odd) {
    margin-top: 5rem;
  }
  main section:nth-child(even) {
    margin-top: -1rem;
  }
}